


<div class = "container" style="min-height: 670px">
    <div class = "row" >
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0 ">
                <h1 class="text-center" >Login</h1>
                <h6 class="text-center" style="color: black">Please enter username & password!!</h6>
                <form  class="form-login" #f ="ngForm" (ngSubmit)="f.form.valid && ngSubmit()" novalidate>
                    <mat-error *ngIf="checkRegister"  style="color: deepskyblue">Create Account Successful! Please Login</mat-error>
                    <!--USERNAME-->
                    <mat-form-field  style="width: 350px" appearance="outline" >
                        <mat-label>Username: </mat-label>
                        <input matInput placeholder="Username..." name="username" [(ngModel)]="form.username" #username = "ngModel" minlength="3" maxlength="50" required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf = "username.hasError('required')">The username is required</mat-error>
                        <mat-error *ngIf ="username.hasError('minlength')"> The username must more than 3 characters </mat-error>
                    </mat-form-field>
                    <br>
                    <!--PASSWORD-->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label >Enter your password: </mat-label>
                        <input name="password" [(ngModel)]="form.password" minlength="6" maxlength="12"  #password = "ngModel" matInput [type]="hide ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf = "password.hasError('required')">The password is required</mat-error>
                        <mat-error *ngIf ="password.hasError('minlength')"> The password must more than 6 characters </mat-error>

                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" class="btn btn-primary mb-2" >Login</button>
                    <br>
                    <a routerLink="/register" style=" margin-top: 10px" >New user? Click to sign up</a>
                </form>
            </mat-card>
        </div>
    </div>
</div>


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">-->
<!--            <div class="card card-signin my-5">-->
<!--                <div class="card-body">-->
<!--&lt;!&ndash;                    <mat-card style="margin: 50px 0 ">&ndash;&gt;-->
<!--                    <h5 class="card-title text-isLoggedIncenter"> Login</h5>-->
<!--                    <form class="form-signin" [formGroup]="formGroup" (ngSubmit)="onSubmit()">-->
<!--                        <div class="form-label-group">-->
<!--                            &lt;!&ndash;                            <label for="inputEmail">Tên tài khoản:</label>&ndash;&gt;-->
<!--                            <input autofocus formControlName="username" type="text" id="inputEmail" class="form-control"-->
<!--                                   placeholder="Username">-->
<!--                        </div>-->

<!--                        <div class="form-label-group">-->
<!--                            &lt;!&ndash;                            <label for="inputPassword">Mật khẩu:</label>&ndash;&gt;-->
<!--                            <input formControlName="password" type="password" id="inputPassword" class="form-control"-->
<!--                                   placeholder="Password"-->
<!--                                   required>-->
<!--                        </div>-->
<!--                        <div class="custom-control custom-checkbox mb-3">-->
<!--                            <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="remember_me">-->
<!--                            <label class="custom-control-label" for="customCheck1">Remember me!</label>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p><a href="" routerLink="/reset-password" data-dismiss="modal">For got password ?</a></p>-->
<!--                            <span>New user? Click to sign up <a  routerLink="/register">tại đây</a></span>-->
<!--                        </div>-->
<!--                        <button class="btn btn-lg btn-primary text-uppercase" type="submit">Sign In</button>-->
<!--                        <button class="btn btn-lg btn-secondary text-uppercase" routerLink="" data-dismiss="modal" type="button">-->
<!--                            Cancel-->
<!--                        </button>-->
<!--                    </form>-->
<!--&lt;!&ndash;                    </mat-card>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
