
<nav class="docs-navbar-header" aria-label="Top Toolbar" style="background-color: #38CB89">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/angular-white-transparent.svg"
         alt="">
    <span>Hanbisoft</span>
  </a>
  <a *ngIf="!checkLogin" mat-button class="docs-button" routerLink="register" aria-label="Angular Material">
    <span>Register</span>
  </a>
  <a *ngIf="!checkLogin"  mat-button class="docs-button" routerLink="login" aria-label="Angular Material">
    <span>Login</span>
  </a>

  <a *ngIf=" checkLogin"  mat-button class="docs-button" routerLink="user-account" aria-label="Angular Material">
    <mat-icon color="white"> account_circle</mat-icon>
    <span>{{name}}</span>
  </a>
  <a mat-button class="docs-button" routerLink="create-temp" aria-label="Angular Material">
    <span>Add New Temperature</span>
  </a>
  <a mat-button class="docs-button" routerLink="list-temp" aria-label="Angular Material">
    <span>Show List Temperature</span>
  </a>

  <a *ngIf=" checkLogout"  mat-button class="docs-button" routerLink="user-account" aria-label="Angular Material" (click)="logOut()">
    <!--      <mat-icon color="white"> account_circle</mat-icon>-->
    <span>Logout</span>
  </a>
</nav>



