<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
<!--                <h1 class="alert alert-primary">User account </h1>-->
<!--                <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Login</button>-->
<!--                <mat-icon color="accent" matSuffix (click)="logOut()">Logout</mat-icon>-->
            </mat-card>
        </div>
    </div>
</div>
